input.songSearchBar {
    margin: 0 auto;
    max-width: 652px;
    height: 69px;
    font-size: 21px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding-left: 42px;
    padding-right: 20px;
    /*box-shadow: 5px 19px 15px -16px #111111;*/
}

.table {
    margin: auto 0;
    max-width: 652px;
    vertical-align: middle;
    font-size: 17px;
}

.divThatEnclosesTable {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.tableWrapper {
    max-height: 35rem;
    overflow: auto;
    max-width: 669px;
    margin: 0 auto;
    box-shadow: -56px 10px 81px -69px rgb(0 0 0 / 60%);
    -moz-box-shadow: -56px 10px 81px -69px rgb(0 0 0 / 60%);
    -webkit-box-shadow: -56px 10px 81px -69px rgb(0 0 0 / 60%);
    -o-box-shadow: -56px 10px 81px -69px rgb(0 0 0 / 60%);
    border-radius: 40px;
    text-align: left;
}
.tableWrapper::-webkit-scrollbar { width: 10px; }
.tableWrapper::-webkit-scrollbar-thumb { background: #212529; }
.tableWrapper::-webkit-scrollbar-thumb:hover { background: #131314; }

.table th {
    text-align: center;
}
.table tbody tr td:first-child {
    padding-left: 30px;
}
.table>:not(caption)>*>* {
    background-color: white;
}

.tableStriped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #f9eddc;
    color: var(--bs-table-striped-color);
}

/* top-left border-radius */
.table tr:first-child th:first-child {
    border-top-left-radius: 40px;
}

/* top-right border-radius */
.table tr:first-child th:last-child {
    border-top-right-radius: 40px;
}

/* bottom-left border-radius */
.table tr:last-child td:first-child {
    border-bottom-left-radius: 40px;
}

/* bottom-right border-radius */
.table tr:last-child td:last-child {
    border-bottom-right-radius: 40px;
}

.table a {
    color: black;
}

.spinnerContainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
